<div class="wrap t3-slideshow "><!-- SLIDESHOW -->
    <div id="acm-slideshow-90" class="slideshow">
        <div class="swiper-container slideshow-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item active">
                        <div class="img-bg has-mask">
                            <img alt="Envisioning" src="../images/slideshow/envisioning.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transition="2">
                                    {{ site.data.pages.slideshow.devops.title[page.lang] }}
                                </h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transition="3">
                                    {{ site.data.pages.slideshow.devops.description[page.lang] }}
                                </p>
                                <div class="group-action ja-animation" data-delay-transition="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg" data-delay-transition="4" style="text-transform:uppercase">
                                        {{ site.data.pages.general.learn_more[page.lang] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Custom Code" src="../images/slideshow/custom-code.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="bottom-top">
                                <h1 class="item-title ja-animation" data-delay-transition="2">
                                    {{ site.data.pages.slideshow.microservices.title[page.lang] }}
                                </h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transition="3">
                                    {{ site.data.pages.slideshow.microservices.description[page.lang] }}
                                </p>
                                <div class="group-action ja-animation" data-delay-transition="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg" data-delay-transition="4" style="text-transform:uppercase">
                                        {{ site.data.pages.general.learn_more[page.lang] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Architecture Advisory" src="../images/slideshow/architecture-advisory.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transition="2">
                                    {{ site.data.pages.slideshow.bigdata.title[page.lang] }}
                                </h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transition="3">
                                    {{ site.data.pages.slideshow.bigdata.description[page.lang] }}
                                </p>
                                <div class="group-action ja-animation" data-delay-transition="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg" data-delay-transition="4" style="text-transform:uppercase">
                                        {{ site.data.pages.general.learn_more[page.lang] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Architecture Review" src="../images/slideshow/architecture-review.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transition="2">
                                    {{ site.data.pages.slideshow.apps.title[page.lang] }}
                                </h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transition="3">
                                    {{ site.data.pages.slideshow.apps.description[page.lang] }}
                                </p>
                                <div class="group-action ja-animation" data-delay-transition="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg" data-delay-transition="4" style="text-transform:uppercase">
                                        {{ site.data.pages.general.learn_more[page.lang] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Lifecycle Management" src="../images/slideshow/lifecycle-management.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transition="2">
                                    {{ site.data.pages.slideshow.support.title[page.lang] }}
                                </h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transition="3">
                                    {{ site.data.pages.slideshow.support.description[page.lang] }}
                                </p>
                                <div class="group-action ja-animation" data-delay-transition="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg" data-delay-transition="4" style="text-transform:uppercase">
                                        {{ site.data.pages.general.learn_more[page.lang] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-thumbs-wraper">
            <div class="container">
                <div class="swiper-container slideshow-thumbs hidden-xs hidden-sm hidden-md">
                    <div class="swiper-wrapper">
                        <!-- Wrapper for slides -->
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Envisioning" src="../images/slideshow/envisioning.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Custom Code" src="../images/slideshow/custom-code.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Architecture Advisory" src="../images/slideshow/architecture-advisory.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Architecture Review" src="../images/slideshow/architecture-review.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Lifecycle Management" src="../images/slideshow/lifecycle-management.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white">
                    <svg class="swipericons"><use xlink:href="../images/sprite.svg#icon-caret-right"></use></svg>
                </div>
                <div class="swiper-button-prev swiper-button-white">
                    <svg class="swipericons"><use xlink:href="../images/sprite.svg#icon-caret-left"></use></svg>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>