<!-- BACK TOP TOP BUTTON -->
<div id="back-to-top" data-spy="affix" data-offset-top="200" class="back-to-top hidden-xs hidden-sm affix-top">
    <button class="btn btn-primary" title="Back to Top">
        <svg width="25" height="25" style="fill:white">
            <use xlink:href="../images/sprite.svg#icon-long-arrow-up"></use>
        </svg>        
    </button>
</div>
<script type="text/javascript">
    (function ($) {
        // Back to top
        $('#back-to-top').on('click', function () {
            $("html, body").animate({
                scrollTop: 0
            }, 500);
            return false;
        });
    })(jQuery);
</script>
<!-- BACK TO TOP BUTTON -->