<!-- FOOTER -->
<footer id="t3-footer" class="wrap t3-footer">
    <!-- FOOT NAVIGATION -->
    <div class="container">
        <!-- SPOTLIGHT -->
        <div class="t3-spotlight t3-footnav  row">
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="t3-module module footerlogo " id="Mod154">
                    <div class="module-inner">
                        <h3 class="module-title ">
                            <span>{{ site.data.pages.general.follow_us[page.lang] }}</span></h3>
                        <div class="module-ct">
                            <div class="custom footerlogo">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <a href="https://www.facebook.com/deepnetworkgmbh/" target="_blank">
                                            <svg class="socialmediaicons"><use xlink:href="../images/sprite.svg#icon-facebook"></use></svg>                                        
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="https://twitter.com/deepnetworkgmbh" target="_blank">
                                            <svg class="socialmediaicons"><use xlink:href="../images/sprite.svg#icon-twitter"></use></svg>     
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="https://www.linkedin.com/company/deep-network-gmbh." target="_blank">
                                            <svg class="socialmediaicons"><use xlink:href="../images/sprite.svg#icon-linkedin"></use></svg>   
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-lg-3 col-md-3  col-sm-3 hidden-sm   col-xs-6 hidden-xs ">
                &nbsp;
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="t3-module module footercontact " id="Mod169">
                    <div class="module-inner">
                        <div class="module-ct">
                            <div class="custom footercontact">
                                <svg class="footericon"><use xlink:href="../images/sprite.svg#icon-phone"></use></svg>
                                <br />
                                <a href="tel:+49 (0) 89 2316 6638" class="footermail">+49 (0) 89 2316
                                    6638</a><br /><br />
                                <svg class="footericon">
                                    <use xlink:href="../images/sprite.svg#icon-envelope"></use>
                                </svg>
                                <br />
                                <a href="mailto:info@deepnetwork.com" class="footermail">info@deepnetwork.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="t3-module module footerlocation " id="Mod170">
                    <div class="module-inner">
                        <div class="module-ct">
                            <div class="custom footerlocation">
                                <svg class="footericon"><use xlink:href="../images/sprite.svg#icon-map-o"></use></svg>
                                <br />
                                <a href="https://www.google.com/maps/place/Zeppelinstra%C3%9Fe+73,+81669+M%C3%BCnchen,+Germany/@48.1301598,11.5842197,17z/data=!3m1!4b1!4m5!3m4!1s0x479ddf7cc4143749:0x1d94ae4c5d1f2e69!8m2!3d48.1301562!4d11.5864084"
                                    target="_blank" class="footermail">Zeppelinstraße 73<br />
                                    DE-81669 München<br />
                                    GERMANY</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SPOTLIGHT -->
    </div>
    <!-- //FOOT NAVIGATION -->
    <section class="t3-copyright">
        <div class="container">
            <div class="copy-right">
                <div class="row">
                    <div class="col-md-12 copyright ">
                        <div class="custom">
                            <div style="text-align: center;">
                                <a href="legal-notice.html" alt="Legal Notice"
                                    title="Deep Network GmbH Legal Notice">{{ site.data.pages.page_ref_legal_notice.title[page.lang] }}</a>
                                |
                                <a href="cookies.html" alt="Cookies"
                                    title="Deep Network GmbH Cookie Statement">{{ site.data.pages.page_ref_cookies.title[page.lang] }}</a>
                                |
                                <a href="privacy-statement.html" alt="Privacy Statement"
                                    title="Deep Network GmbH Privacy Statement">{{ site.data.pages.page_ref_privacy_statement.title[page.lang] }}</a>
                                <br /><br />
                                &copy; 2019 Deep Network GmbH
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- //FOOTER -->
