
<!-- HEADER -->
<header id="t3-header" class="t3-header ">
    <div class="container">
        <div class="row">
            <!-- LOGO -->
            <div class="col-xs-12 col-sm-5 col-lg-6 logo">
                <div class="logo-image">
                    <a href="/" title="Deep Network GmbH">
                        <img class="logo-img" src="images/logo.png" alt="Deep Network GmbH" />
                        <span>Deep Network GmbH</span>
                    </a>
                    <small class="site-slogan"></small>
                </div>
            </div>
            <!-- //LOGO -->
            <div class="head-right colxs-12 col-sm-7 col-lg-6">
                <!-- HEAD RIGHT -->
                <div class="head-right ">
                    <div class="custom">
                        <ul class="address-list">
                            <li>
                                <label>
                                    <i class="fas fa-envelope"></i>
                                </label>
                                <a href="mailto:info@deepnetwork.com">info@deepnetwork.com</a>
                            </li>
                            <li>
                                <label>
                                    <i class="fas fa-phone"></i>
                                </label>
                                <a href="tel:+49 (0) 89 2316 6638">+49 (0) 89 2316 6638</a><br /><br /></li>
                        </ul>
                    </div>
                </div>
                <!-- //HEAD RIGHT -->
            </div>
        </div>
    </div>
</header>
<!-- //HEADER -->
