<nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav">
    <!-- MAIN NAVIGATION -->
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="t3-navbar clearfix">
                <button class="btn btn-primary off-canvas-toggle " type="button" data-pos="left"
                    data-nav="#t3-off-canvas" data-effect="off-canvas-effect-4">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- OFF-CANVAS SIDEBAR -->
                <div id="t3-off-canvas" class="t3-off-canvas ">
                    <div class="t3-off-canvas-header">
                        <h2 class="t3-off-canvas-header-title">Sidebar</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="t3-off-canvas-body">
                        <div class="t3-module module_menu " id="Mod1">
                            <div class="module-inner">
                                <div class="module-ct">
                                    <ul class="nav nav-pills nav-stacked menu">
                                        {% if page.title == "Home" %}
                                        <li class="item-101 default current active">
                                        {% else %}
                                        <li class="item-101 default">
                                        {% endif %}                                      
                                            <a href="index.html" class="">HOME {{ page.title }}</a>
                                        </li>
                                        <li class="item-199 deeper dropdown parent">
                                            <a href="#" class=" dropdown-toggle" data-toggle="dropdown"> ABOUT US
                                                <em class="caret"></em>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% if page.title == "Who We Are" %}
                                                <li class="item-389 current active">
                                                {% else %}
                                                <li class="item-389">
                                                {% endif %}                                                  
                                                    <a href="who-we-are.html" class="">Who We Are</a>
                                                </li>
                                                <li class="item-391">
                                                    <a href="meet-the-leadership.html" class="">Meet The
                                                        Leadership
                                                    </a>
                                                </li>
                                                <li class="item-393">
                                                    <a href="careers.html" class="">Careers
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="item-360">
                                            <a href="our-services.html" class="">OUR SERVICES</a>
                                        </li>
                                        <li class="item-198">
                                            <a href="our-solutions.html" class="">OUR SOLUTIONS</a>
                                        </li>
                                        <li class="item-118">
                                            <a href="contact-us.html" class="">CONTACT US</a>
                                        </li>
                                        <li class="item-119">
                                            <a href="/blog/" class="">BLOG</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //OFF-CANVAS SIDEBAR -->
                <div class="pull-left navbar-collapse collapse">
                    <div class="t3-megamenu" data-responsive="true">
                        <ul itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement" class="nav navbar-nav level0">                            
                            {% if page.title == "Home" %}
                            <li itemprop='name' class="current active" data-id="101" data-level="1">
                            {% else %}
                            <li itemprop='name' class="" data-id="101" data-level="1">
                            {% endif %}      
                                <a itemprop='url' class="" href="index.html" data-target="#">HOME</a>
                            </li>
                            <li itemprop='name' class="dropdown mega" data-id="199" data-level="1">
                                <a itemprop='url' class="dropdown-toggle" href="#" data-target="#" data-toggle="dropdown">ABOUT US<em class="caret"></em></a>
                                <div class="nav-child dropdown-menu mega-dropdown-menu" style="width: 300px" data-width="300">
                                    <div class="mega-dropdown-inner">
                                        <div class="row">
                                            <div class="col-xs-12 mega-col-nav" data-width="12">
                                                <div class="mega-inner">
                                                    <ul itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement" class="mega-nav level1">
                                                        {% if page.title == "Who We Are" %}
                                                        <li itemprop='name' data-id="389" data-level="2" class="current active">
                                                        {% else %}
                                                        <li itemprop='name' data-id="389" data-level="2">
                                                        {% endif %}      
                                                            <a itemprop='url' class="" href="who-we-are.html" data-target="#">Who We Are</a>
                                                        </li>
                                                        {% if page.title == "Meet The Leadership" %}
                                                        <li itemprop='name' data-id="391" data-level="2" class="current active">
                                                        {% else %}
                                                        <li itemprop='name' data-id="391" data-level="2">
                                                        {% endif %}      
                                                            <a itemprop='url' class="" href="meet-the-leadership.html" data-target="#">Meet The Leadership</a>
                                                        </li>
                                                        {% if page.title == "Careers" %}
                                                        <li itemprop='name' data-id="393" data-level="2" class="current active">
                                                        {% else %}
                                                        <li itemprop='name' data-id="393" data-level="2">
                                                        {% endif %}      
                                                            <a itemprop='url' class="" href="careers.html" data-target="#">Careers</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% if page.title == "Our Services" %}
                            <li itemprop='name' data-id="360" data-level="1" class="current active">
                            {% else %}
                            <li itemprop='name' data-id="360" data-level="1">
                            {% endif %} 
                                <a itemprop='url' class="" href="our-services.html" data-target="#">OUR SERVICES
                                </a>
                            </li>

                            {% if page.title == "Our Solutions" %}
                            <li itemprop='name' data-id="198" data-level="1" class="current active">
                            {% else %}
                            <li itemprop='name' data-id="198" data-level="1">
                            {% endif %} 
                                <a itemprop='url' class="" href="our-solutions.html" data-target="#">OUR
                                    SOLUTIONS
                                </a>
                            </li>

                            {% if page.title == "Contact Us" %}
                            <li itemprop='name' data-id="118" data-level="1" class="current active">
                            {% else %}
                            <li itemprop='name' data-id="118" data-level="1">
                            {% endif %} 
                                <a itemprop='url' class="" href="contact-us.html" data-target="#">CONTACT US
                                </a>
                            </li>

                            {% if page.title == "Blog" %}
                            <li itemprop='name' data-id="119" data-level="1" class="current active">
                            {% else %}
                            <li itemprop='name' data-id="119" data-level="1">
                            {% endif %} 
                                <a itemprop='url' class="" href="/blog/" data-target="#">BLOG</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- //MAIN NAVIGATION -->