<div class="wrap t3-slideshow "><!-- SLIDESHOW -->
    <div id="acm-slideshow-90" class="slideshow">
        <div class="swiper-container slideshow-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item active">
                        <div class="img-bg has-mask">
                            <img alt="Envisioning" src="images/slideshow/envisioning.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transtion="2">Envisioning</h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transtion="3">Cloud
                                    platforms enable more options to build and deploy solutions. We have many
                                    ways to help you find the best possible combination of the platform
                                    offerings for your solution.</p>
                                <div class="group-action ja-animation" data-delay-transtion="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg"
                                        data-delay-transtion="4">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Custom Code" src="images/slideshow/custom-code.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="bottom-top">
                                <h1 class="item-title ja-animation" data-delay-transtion="2">Custom Code</h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transtion="3">We can
                                    either augment your engineering team with one of our professional
                                    consultants or build an application in-house to meet your requirements.</p>
                                <div class="group-action ja-animation" data-delay-transtion="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg"
                                        data-delay-transtion="4">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Architecture Advisory" src="images/slideshow/architecture-advisory.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transtion="2">Architecture
                                    Advisory</h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transtion="3">There are
                                    many ways and combinations to achieve similar results, but we respond to
                                    your unique requirements with the right combination of attributes.
                                </p>
                                <div class="group-action ja-animation" data-delay-transtion="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg"
                                        data-delay-transtion="4">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Architecture Review" src="images/slideshow/architecture-review.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transtion="2">Architecture Review
                                </h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transtion="3">We can
                                    often review and architecture and design bringing our years of cloud
                                    experience to the team.</p>
                                <div class="group-action ja-animation" data-delay-transtion="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg"
                                        data-delay-transtion="4">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item ">
                        <div class="img-bg has-mask">
                            <img alt="Lifecycle Management" src="images/slideshow/lifecycle-management.jpg" />
                        </div>
                        <div class="slider-content container">
                            <div class="slider-content-inner" data-type-animation="left-right">
                                <h1 class="item-title ja-animation" data-delay-transtion="2">Lifecycle
                                    Management</h1>
                                <p class="hidden-xs item-desc ja-animation" data-delay-transtion="3">Although
                                    there is a lot of common ground to developing solutions in Windows Azure and
                                    on-premises it's also different in a lot of ways.</p>
                                <div class="group-action ja-animation" data-delay-transtion="4">
                                    <a href="our-services.html" class="btn btn-primary btn-lg"
                                        data-delay-transtion="4">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-thumbs-wraper">
            <div class="container">
                <div class="swiper-container slideshow-thumbs hidden-xs hidden-sm hidden-md">
                    <div class="swiper-wrapper">
                        <!-- Wrapper for slides -->
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Envisioning" src="images/slideshow/envisioning.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Custom Code" src="images/slideshow/custom-code.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Architecture Advisory" src="images/slideshow/architecture-advisory.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Architecture Review" src="images/slideshow/architecture-review.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbs">
                                <div class="item-image">
                                    <img alt="Lifecycle Management" src="images/slideshow/lifecycle-management.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white">
                    <svg class="swipericons"><use xlink:href="../images/sprite.svg#icon-caret-right"></use></svg>
                </div>
                <div class="swiper-button-prev swiper-button-white">
                    <svg class="swipericons"><use xlink:href="../images/sprite.svg#icon-caret-left"></use></svg>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<!-- //SLIDESHOW -->