<!-- //SLIDESHOW -->
<div class="swiper-container" style="margin-top: 10px;">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="background: url(../images/slideshow/envisioning.jpg);">
            <h1 class="swiper-header">
                {{ site.data.pages.slideshow.devops.title[page.lang] }}
            </h1>
            <p class="swiper-subtext">
                {{ site.data.pages.slideshow.devops.description[page.lang] }}
            </p>            
            <a href="our-services.html" class="btn btn-primary btn-lg">
                <span style="text-transform:uppercase">{{ site.data.pages.general.learn_more[page.lang] }}</span>
            </a>
        </div>
        <div class="swiper-slide" style="background: url(../images/slideshow/custom-code.jpg);">
            <h1 class="swiper-header">
                {{ site.data.pages.slideshow.microservices.title[page.lang] }}
            </h1>
            <p class="swiper-subtext">
                {{ site.data.pages.slideshow.microservices.description[page.lang] }}
            </p>
            <a href="our-services.html" class="btn btn-primary btn-lg">
                <span style="text-transform:uppercase">{{ site.data.pages.general.learn_more[page.lang] }}</span>
            </a>
        </div>
        <div class="swiper-slide" style="background: url(../images/slideshow/architecture-advisory.jpg);">
            <h1 class="swiper-header">
                {{ site.data.pages.slideshow.bigdata.title[page.lang] }}
            </h1>
            <p class="swiper-subtext">
                {{ site.data.pages.slideshow.bigdata.description[page.lang] }}
            </p>            
            <a href="our-services.html" class="btn btn-primary btn-lg">
                <span style="text-transform:uppercase">{{ site.data.pages.general.learn_more[page.lang] }}</span>
            </a>
        </div>
        <div class="swiper-slide" style="background: url(../images/slideshow/architecture-review.jpg);">
            <h1 class="swiper-header">
                {{ site.data.pages.slideshow.apps.title[page.lang] }}
            </h1>
            <p class="swiper-subtext">
                {{ site.data.pages.slideshow.apps.description[page.lang] }}
            </p>            
            <a href="our-services.html" class="btn btn-primary btn-lg">
                <span style="text-transform:uppercase">{{ site.data.pages.general.learn_more[page.lang] }}</span>
            </a>
        </div>
        <div class="swiper-slide" style="background: url(../images/slideshow/lifecycle-management.jpg);">
            <h1 class="swiper-header">
                {{ site.data.pages.slideshow.support.title[page.lang] }}
            </h1>
            <p class="swiper-subtext">
                {{ site.data.pages.slideshow.support.description[page.lang] }}
            </p>            
            <a href="our-services.html" class="btn btn-primary btn-lg">
                <span style="text-transform:uppercase">{{ site.data.pages.general.learn_more[page.lang] }}</span>
            </a>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>